* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #40514e;
    text-align: center;
    font-family: "Merriweather", serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    color: #66bfbf;
    font-size: 5vw;
    font-weight: 700;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}

h2 {
    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5vw;
    font-weight: 600;
    padding-bottom: 10px;
}

h3 {
    color: #11999e;
    font-family: "Montserrat", sans-serif;
    font-size: 1.7vw;
    font-weight: 500;
}

span {
    text-decoration: underline;
}

p {
    width: 90%;
    font-size: 1.2rem;
    line-height: 2;
    font-weight: normal;
    margin: 50px auto 0 auto;
}

hr {
    border: dotted #b4d2d2 6px;
    border-bottom: none;
    width: 4%;
    margin: 50px auto;
}

/* Main */
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #e4f9f5;
}

/* HAMBURGER */
.visuallyHidden {
    opacity: 0;
}

.hamburger-container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
    position: fixed;
    top: 20px;
    left: 15px;
}

.hide {
    opacity: 0;
}

.checkbox {
    position: absolute;
    left: 0;
    height: 70px;
    width: 70px;
    z-index: 200;
}

.checkbox+label {
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.hamburger {
    margin: 0 auto;
    position: relative;
    width: 30px;
    height: 60%;
}

.hamburger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #11999e;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2,
.bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

/* HAMBURGER ANIMATION */
.checkbox:checked+label>.hamburger>.bar1 {
    transform: rotate(45deg);
    transform-origin: 5%;
    width: 41px
}

.checkbox:checked+label>.hamburger>.bar2 {
    transform: translateX(-40px);
    background-color: transparent;
}

.checkbox:checked+label>.hamburger>.bar3 {
    transform: translateX(40px);
    background-color: transparent;
}

.checkbox:checked+label>.hamburger>.bar4 {
    transform-origin: 5%;
    transform: rotate(-45deg);
    width: 41px;
}

/* Side Bar */
.side-bar {
    position: fixed;
    top: 0;
    left: -200px;
    height: 400px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    opacity: 0;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.26);

    transition: all 0.4s ease-out;
}

.side-bar div {
    width: 100%;
    height: 80px;
}

.side-bar a {
    flex: 1;
    width: 100%;
    background-color: rgba(112, 112, 112, 0.2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding-left: 15px;
    text-decoration: none;
    color: rgb(63, 63, 63);
    font-size: 17px;
    font-weight: 600;
}

.side-bar a:hover {
    background-color: #e4f9f5;
    box-shadow: 0 0 8px gray;
}

.side-bar img {
    height: 30px;
}

/* Nav Links */
.nav-links {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    transition: all 0.5s ease-out;
}

.nav-links a {
    color: #3fa7a7;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    padding: 20px;
    border-radius: 20px;
    font-weight: bolder;
}

.nav-links a:hover {
    color: #eaf6f6;
    background-color: #2bc4ad;
}

/* Home */
#home {
    background-color: #e4f9f5;
    padding: 40px;
    width: 100%;
}

.heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* ******************************************************* */
/* Mid Container */
.middle-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.profile-frame {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 50px auto;
}

.profile-pic {
    width: 100%;
}

/* About */
#about {
    width: 100%;
    padding: 40px;
}

#about p {
    width: 60%;
    font-size: 1.2rem;
    line-height: 2;
    font-weight: normal;
    margin: 50px auto 0 auto;
    text-align: center;
}

#about span {
    color: #11cdd4;
    text-decoration: none;
}

/* Skills */
#skills {
    width: 60%;
    padding: 50px 0;
}

.parent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 50px;
}

.certificate {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 4px solid #30e3cbc3;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.skill-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.skill-list-part {
    width: 100%;
}

.sl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sl p {
    height: 90%;
    width: 100%;
}

.blue-br {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    height: 7px;
    width: 100%;
}

/* Projects */
#projects {
    width: 100%;
    padding: 50px;
}

.projects-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    padding: 70px;
    margin-top: 50px;
}

.items {
    min-height: 550px;
    width: 400px;
    border-radius: 20px;
    background-color: #e4f9f5;
    display: flex;
    border: 2px solid rgba(128, 128, 128, 0.398);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    transition: all 0.5s ease-in-out;

}

.items:hover {
    transform: scale(1.01);
    box-shadow: 1px 1px 8px #aaaaaa;
}

.items img {
    width: 100%;
    height: 40%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 20px;
}

.items p {
    margin: 20px 0;
    font-size: medium;
    text-align: center;
    width: 100%;
}

.project-links {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.project-links a {
    flex: 1;
}

/* Education */
#education {
    width: 100%;
    padding: 50px;
}

.univ {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.univ p {
    width: 100%;
    margin: 0;
}

.univ-details {
    text-align: left;
    padding: 10px;
}

/* ******************************************************* */
/* Contact */
#contact-me {
    height: 500px;
    width: 100%;
    padding: 20px
}

#contact-me h2 {
    margin-bottom: 50px;
}

.contact-message {
    width: 40%;
    margin-bottom: 50px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: 0;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.bottom-container {
    margin-top: 20px;
    width: 100%;
    background-color: #66bfbf;
    padding: 50px 0 20px;
}

.bottom-container a {
    color: #245656;
    font-family: "Montserrat", sans-serif;
    margin: 10px 20px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
}

.bottom-container a:hover {
    color: #eaf6f6;
}

.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 10px 0;
    font-size: 15px;
}

/* Back to top */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    display: none;

    transition: all 0.2s ease-out;
}

.back-to-top img {
    height: 40px;
}

.back-to-top:hover {
    transform: scale(1.1);
}

/* Media Query */
@media (max-width: 1080px) {
    h1 {
        font-size: 12vw;
    }

    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 5vw;
    }

    .heading {
        flex-direction: column-reverse;
    }

    .title-img {
        width: 70%;
        height: 70%;
    }

    .title-img img {
        height: 100%;
        width: 100%;
    }

    #about p {
        width: 80%;
    }

    .univ {
        flex-direction: column;
        padding: 0;
    }

    .univ-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .parent {
        gap: 20px;
    }

    #skills {
        width: 80%;
    }

    .skill-list {
        flex-direction: column;
        gap: 0;
    }

    .contact-message {
        width: 90%;
    }

    .nav-links {
        transform: translate(-100%);
        opacity: 0;
        z-index: -100;
    }

    .items {
        width: 450px;
    }
}

@media (max-width: 620px) {
    h1 {
        font-size: 15vw;
    }

    h2 {
        font-size: 10vw;
    }

    h3 {
        font-size: 7vw;
    }

    .projects-list {
        padding: 0;
    }

    .items {
        height: fit-content;
        width: 100%;
    }
}

.show {
    opacity: 1;
    transform: translate(100%);
}